body {
    margin: 0px;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
    border: 1px solid rgb(222, 222, 222);
    height: 70px;
}

h1 {
    color: #FF3718;
    font-weight: 1000;
    margin: 15px 30px;
}

#layout {
    display: flex;
    flex: 1;
    height: calc(100vh - 70px);
}

nav {
    width: 12em;
    border-right: 1px solid rgb(222, 222, 222);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main {
    flex: 1;
    padding: 20px;
    overflow: auto;
}

ul {
    list-style: none;
    padding: 0px;
    margin: 40px 10px;
}

li {
    padding: 10px;
    border-radius: 5px;
    margin: 15px 0px;
    font-weight: 600;
}

#this {
    background-color: #FFE5E5;
    color: #DA6262;
}

nav .fi {
    margin-right: 20px;
    color: #DA6262;
    position: relative;
    top: 3px;
}

#profile {
    display: flex;
    flex-direction: column;
    border-top: 1px solid rgb(222, 222, 222);
    padding: 15px 0px;
}
#profile span {
    font-size: 0.875em;
}
#profile small {
    color: gray;    
}

#profile div {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

#logout {
    border: 0px solid black;
    border-radius: 5px;
    width: 90%;
    align-self: center;
    margin-top: 10px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3%;
}

main h3 {
    font-weight: 500;
}

main .fi {
    margin-left: 30px;
}

#missions {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.mission {
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(222, 222, 222);
    padding: 20px;
    gap: 20px;
    width: 25%;
    height: 90%;
    text-align: center;
    justify-content: center;
    border-radius: 10px;
    background-color: #FFE5E5;
    color: #5B2929;
}

.mission button {
    border: 0px solid black;
    color: #F1C8C8;
    background-color: white;
    height: 30px;
    border-radius: 5px;
}

.mission:hover {
    background-color: #F7A6A6;
}

.mission:hover button {
    color: #DA6262;
}