div {
    box-sizing : border-box;
  }
  body {
    margin : 0;
  }
  html {
    line-height : 1.15; /*기본 행간 높이*/
  }
  
h4,h5, p {
    margin: 0px;
}

body {
  margin: 0px;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  width: 100%;
  border: 1px solid rgb(222, 222, 222);
  height: 70px;
}

h1 {
  color: #FF3718;
  font-weight: 1000;
  margin: 15px 30px;
}

#layout {
  display: flex;
  flex: 1;
  height: calc(100vh - 70px);
}

nav {
  width: 12em;
  border-right: 1px solid rgb(222, 222, 222);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content-wr{
    /* display: flex; */
    width: 80%;
    height: 700px;
    /* background-color: aliceblue; */
    margin: auto;
    margin-top:40px;
    /* overflow: hidden; */
}
.profile-content {
    width: 100%;
    height: 100px;
    /* background-color: aqua; */
    border-radius: 20px;
    margin-bottom: 20px;
    display: block;
    padding: 25px;
    border: solid 1px #E6D0D0;
}
.main-wr{
    width: 100%;
    height: 670px;
    /* background-color: aquamarine; */
    border-radius: 20px;
}
.main {
    height: 100%;
    width: 60%;
    /* background-color: beige; */
}
.mainbox-left_top {
    width: 100%;
    height: 11%;
    margin-bottom: 20px;
    
}
.mainbox-left_bottom {
    width: 100%;
    height: 80%;
    /* background-color: rgb(110, 110, 110); */

}

.fi {
  margin-right: 20px;
  color: #DA6262;
}

.br-20 {
    border-radius: 20px;
    border: solid 1px #E6D0D0;
}
ul.list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #E6D0D0;
  }
  ul.list::after {
    content: '';
    display: block;
    clear: both;
  }
  .tab-button {
    display: block;
    padding: 10px 20px 10px 20px;
    float: left;
    margin-right: -1px;
    margin-bottom: -1px;
    color: grey;
    text-decoration: none;
    cursor: pointer;
    width: 39.8%;
    margin-top: 0px;
  }
  .orange {
    border-top: 2px solid #FF7676;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid white;
    border-left: 1px solid #ccc;
    color: black;
    margin-top: -2px;
  }
  .tab-content {
    display: none;
    padding: 10px;
    /* border: #818181; */
  }
  .show {
    display: block;
  }
  .tab-content-wr{
    width: 100%;
    height: 535px;
    /* background-color: #ccc; */
    
  }

  .mainbox-right-{
    width: 100%;
    /* background-color: #FF7676; */
    padding: 20px;
    padding-left: 30px;
  }
  .title-box {
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #FD735E;
    color: #FFF;
    display: inline-block;
    border-radius: 20px;
  }
  .b-box{
    width: 30%;
    height: 100%;
    background-color: #FFF3F3;
    /* background-color: #FD735E; */
    border-radius: 20px;
    padding: 20px;
  }
  .si {
    color: #818181;
    font-size: 10px;
    text-align: center;
    margin-top: 8px;
  }
  .tkffuwnj {
    width: 100%;
    height: 240px;
    /* background-color: #818181; */
    padding: 20px;
    padding-left: 0px;
    padding-right: 0px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    
  }
  .seven-box {
    width: 94px;
    height: 50%;
    /* background-color: #FD735E; */
  }
  .flex {
    display: flex;
  }
  .c{
    margin: 20px;
    width: 40px;
  }
  .c2{
    margin: 11px;
    width: 40px;
  }
  .o-seven-box {
    width: 60px;
    height: 60px; 
    background-color: #F2F2F2; 
    margin: auto;
    margin-top: 0px;
    border-radius: 50%; 
    position: relative;
  }
.none {
  display: none;
}
.progress {
  height: 7px; 
  position: absolute; 
  width: 90%; 
  background-color: #FF7D7D; 
  border-radius: 20px;
}
.h4- {
  
  color: #FFF;
  bottom: 20px;
  position: absolute;
  left: 23px;
}
